:root {
  --td: 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.fadeIn {
  animation: fadeIn var(--td);
}

.fadeOut {
  animation: fadeOut ease var(--td);
}


.display-container {
  width: 94vw;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 3vh 3vw;
}


.logo {

  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;

  object-fit:scale-down;
  content: url("./logo-blanco-y-rojo-2023.png");

  background-color: black;
}


.display-global-text {
  width: 100%;
  text-align: center;
  transition: 0.5s;
}

/* Affects the body element */
.display-1-background {
  background-color: black;
}

/* Affects the div containing the text */
.display-1-text {
  color: white;
  font-size: 50px;
}

.display-2-background {
  background-color: lightpink;
}

.display-2-text {
  padding-top: 50vh;
  color: black;
  font-size: 200px;
}
