:root {
  --shadowPower: 0.6;
}

* {
  margin: 0;
  padding: 0;
}

textarea,
input {
  outline: none;
  border: none;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

button {}

.mainGrid {
  display: grid;
  column-gap: 23px;
  width: fit-content;
}

.bigInput {
  grid-column-start: 1;
  grid-column-start: 2;
  /**/
  margin: 0;
  padding: 13px;
  height: 465px;
  width: 400px;
  overflow-y: scroll;
  border-color: rgba(200, 200, 200, 0);
  border-width: 6px;
  border-style: solid;
  /**/
  background-color: rgba(var(--c3Vals), 0.8);
  color: var(--tc);
  box-shadow: 10px 10px 45px 4px rgba(0, 0, 0, var(--shadowPower));
  /**/
  border-radius: var(--br);
  /**/
  font-size: 16px;
}

.bigInput::-webkit-scrollbar {
  width: 12px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0);
}

.bigInput::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.bigInput::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--scrollBg) 80%, var(--scrollMix));
  border-radius: 6px;
  border: none;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}

.bigInput::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 7px;
  margin-right: 7px;
}

.rightContainer {
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  grid-column-start: 3;
  width: 280px;
}

.sectionMenuContainer {
  margin: 0;
  padding: 0;
  width: 100%;
}

.editorButton {
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(var(--c3Vals), 0.8);
  color: var(--tc);
  box-shadow: 10px 10px 25px 4px rgba(0, 0, 0, var(--shadowPower));
  /**/
  font-weight: bold;
  font-size: 16px;
  padding: 6px 9px;
  border-radius: var(--br);
}

#addSection {
  background-color: var(--hi);
}

#addSection:hover {
  color: color-mix(in srgb, var(--hi) 40%, var(--tc));
}

#addSection:active {
  color: var(--hi);
}

.sectionButtonContainer {
  margin-top: 30px;
  width: 100%;
}

.sectionButtonBox {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(var(--c3Vals), 0.8);
  color: var(--tc);
  box-shadow: 10px 10px 25px 4px rgba(0, 0, 0, var(--shadowPower));
  /**/
  font-weight: bold;
  font-size: 16px;
  padding: 6px 9px;
  margin-bottom: 9px;
  border-radius: var(--br);
}

.sectionNameButton {
  margin-right: 5px;
  width: 142px;
  text-align: left;
  outline: none;
  border: none;
  background: none;
  text-decoration: underline;
  white-space: nowrap;
  overflow: clip;
}

.sectionNameButton:hover {
  color: rgba(var(--hiVals), 0.5);
}

.sectionNameButton:active {
  color: rgba(var(--hiVals), 1);
}

.sectionSubButton {
  background: none;
  /* outline: none; */
  border: none;
  margin: 0 2px;
  padding: 4px 0;
  width: 23px;
  height: 23px;
  text-align: center;
  border-radius: 7px;
}

.sectionSubButton:hover {
  background-color: rgba(var(--hiVals), 0.5);
}

.sectionSubButton:active {
  background-color: rgba(var(--hiVals), 1);
}

.promptBox {
  width: 300px;
  height: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /**/
  border-radius: var(--br);
  background-color: var(--c4);
  color: var(--tc);
  box-shadow: 10px 10px 45px 4px rgba(0, 0, 0, var(--shadowPower));
  /**/
}

.promptHeading {
  font-size: 20px;
  width: 100%;
  padding: 15px 20px;
}
