:root {
  --c1: #CED4DA;
  --c2: #6C757D;
  --c3: #30383F;
  --c3Vals: 48, 56, 63;
  --c4: #212529;

  --hi:  #e63946;
  --hiVals:  230, 57, 70;

  --hi2: #3498DB;
  --hi2Vals: 52, 152, 219;

  --tc: white;

  --br: 13px;

  --softBg: linear-gradient(90deg, rgba(54,23,24,1) 0%, rgba(14,27,36,1) 100%);
  --scrollBg: #1e2c37;
  --scrollMix: #ffffff; /* color to mix --scrollBg with to make thumb stand out */

  --shadowNums: 0, 0, 0, 0.1;
  --shadowPower: 0.2;

  --logoShadowA: 0.0;
}

* {
  font-family: "helvetica";
  color: var(--tc);
}

body {
  background-color: var(--c4);
  background: var(--softBg);
  /* scrollbar-gutter: stable; */
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-corner {
  background: var(--scrollBg);
}
body::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--scrollBg) 80%, var(--scrollMix));
  border-radius: 6px;
  border: none;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollBg);
}
