:root {
  --c1: #CED4DA;
  --c2: #6C757D;
  --c3: #30383F;
  --c3Vals: 48, 56, 63;
  --c4: #212529;

  --hi:  #e63946;
  --hiVals:  230, 57, 70;

  --hi2: #3498DB;
  --hi2Vals: 52, 152, 219;

  --tc: white;

  --br: 13px;

  --softBg: linear-gradient(90deg, rgba(54,23,24,1) 0%, rgba(14,27,36,1) 100%);
  --scrollBg: #1e2c37;
  --scrollMix: #ffffff; /* color to mix --scrollBg with to make thumb stand out */

  --shadowNums: 0, 0, 0, 0.1;
  --shadowPower: 0.2;

  --logoShadowA: 0.0;
}

* {
  font-family: "helvetica";
  color: var(--tc);
}

body {
  background-color: var(--c4);
  background: var(--softBg);
  /* scrollbar-gutter: stable; */
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-corner {
  background: var(--scrollBg);
}
body::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--scrollBg) 80%, var(--scrollMix));
  border-radius: 6px;
  border: none;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollBg);
}

.logo-container {
  margin-top: 1px;
}

.logo-img {
  --oc: rgba(255,255,255, var(--logoShadowA));
  height: 100px;
  filter: drop-shadow(1px 1px 0 var(--oc)) 
          drop-shadow(1px -1px 0 var(--oc)) 
          drop-shadow(-1px 1px 0 var(--oc))
          drop-shadow(-1px -1px 0 var(--oc))
          drop-shadow(0 0 6px rgba(var(--shadowNums)));
  padding-bottom: 8px;
}

.top-menu-container {
  position: sticky;
  top: 0;
  background: var(--softBg);
  mask-image: linear-gradient(to top, rgba(255,255,255,0) 0, rgba(255,255,255,1) 30px );
  padding-top: 7px;
  padding-bottom: 30px;
}

menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 1px;
  padding-left: 11px;
  padding-right: 11px;
}

menu li {
  display: inline-block;
}

.menu-button {
  border: none;
  outline: none;
  margin-right: 13px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(var(--c3Vals), 0.6);
  box-shadow: 0 0 10px rgba(0,0,0,var(--shadowPower));
}

.menu-button {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: var(--br);
}


.menu-button:hover {
  background-color: var(--hi);
}

.menu-button:active {
  color: var(--hi);
}

.special-menu-button {
  background-color: var(--hi2);
}

.check-active {
  background-color: var(--hi) !important;

}

.main-container {
  display: flex;
  align-items: start;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.container {
  overflow-y: hidden;
  margin-right: 15px;
}

.container li {
  width: 100%;
}

.verse-container {
  display: inline-block;

  width: 60%;
  min-height: 100px;

  /* background-color: var(--c4);  */

}

.verse-list {
  /* background-color: var(--c4); */

  margin: 0 15px;
}

.verse-list li {
  width: 100%
}

.verse-list button {
  width: 80%;
  margin: 5px 25px;

  font-size: 15px;

  border: none;
  border-radius: var(--br);
  background: var(--c3);
}

.verse-list button:hover, .verse-list button:focus {
  border: none;
  outline: none;
  outline: var(--hi) solid 4px;
}

.verse-list button:active {
  background-color: var(--hi);
}

.section-heading {
  width: 100%;
  border-radius: var(--br);
  background-image: linear-gradient(to right, rgba(var(--hiVals), 1),
    color-mix(in srgb, rgba(var(--hiVals), 0.7) 30%, rgba(var(--hi2Vals), 0.7) 70% ) 55px,
    rgba(var(--hi2Vals), 0) 100px);
  padding-left: 15px;
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
}

.last-pressed {
  outline: var(--hi2) solid 4px !important;
}

.song-list-container {
  display: inline-flex;
  width: 30%;
  min-width: 0;
  min-height: 100px;
  padding: 10px 5px;
  border-radius: var(--br);
  flex-wrap: nowrap;
  flex-direction: column;
  justify-items: center;
  overflow-y: hidden;
  /* background-color: var(--c4); */

  position: sticky;
  top: 0;
  /* we need to get the height of menu container and set top: to that. */
}

.song-list {
  margin: 0;
  margin-top: 10px;

  padding: 2px 0px;
  min-height: 50px;
  width: auto;
  overflow-y: hidden;
  background-color: rgba(var(--c3Vals), 0.6);

  border-radius: var(--br);
}

.song-list li {
  overflow-y: hidden;
  width: 100%;
  margin: 5px 0;

}

.song-button{
  font-size: 14px;
  width: 80%;

  margin: 0px 5%;

  padding: 3px 8px;

  outline: none;
  border: none;

  border-radius: 7px;

  text-align: left;
  white-space: nowrap;

  overflow: hidden;

  font-weight: bold;
}

.has-song {
  background: linear-gradient(to right, color-mix(in srgb, rgba(var(--hiVals), 1.0) 30%, rgba(var(--c3Vals), 1.0)), rgba(var(--c3Vals), 0.0));
  /* background: linear-gradient(to right, */
  /*   color-mix(in srgb, */
  /*   rgba(var(--hiVals), 1.0) 30%, */
  /*   rgba(var(--c3Vals), 1.0) */
  /*   ), */
  /*   rgba(var(--c3Vals), 0.0) */
  /*   ); */
}

.has-image {
  background: linear-gradient(to right, color-mix(in srgb, rgba(var(--hi2Vals), 1.0) 30%, rgba(var(--c3Vals), 1.0)), rgba(var(--c3Vals), 0.0)) ;
  /* background-image: linear-gradient(to right, */
  /*   color-mix(in srgb, */
  /*   rgba(var(--hi2Vals), 1.0) 30%, */
  /*   rgba(var(--c3Vals), 1.0) */
  /*   ), */
  /*   rgba(var(--c3Vals), 0.0) */
  /*   ) ; */
}

.song-button:hover {
  background-image: none;
  background-color: var(--c2);
}

.song-button:active {
  background-image: none;
  background-color: var(--hi);
}



.song-button-list {
  padding: 2px;

  /* background-color: var(--c4); */

  border-radius: var(--br);

  overflow-y: hidden;
}

.song-button-list button {
  background-color: var(--hi);

  font-weight: bold;

  color: white !important;

  border: none;
  border-radius: var(--br);

  padding: 4px;

  width: 30px;
}



@media (max-width:400px) {
  .main-container {
    flex-direction: column;
  }
  .container {
    width: 90%;
  }
  .top-menu-container {
    position: static;
  }
  .song-list-container {
    position: static;
  }
}



